Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans.
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 

1. SQL pronounced as “S-Q-L” or as “See-Quel” is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.

2. Comparing SQL vs NoSQL databases, SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.

3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

4. SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.

5. Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.

1. CREATE
CREATE is the DDL(data definition language) commands used for the creation of the tables in a database.
The CREATE DATABASE statement is a DDL (Data Definition Language) statement used to create a new database in SQL.


EG-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mycursor.execute("CREATE TABLE  if not exists test1.test_table (c1 INT , c2 VARCHAR(50) , c3 INT , c4 FLOAT , c5 VARCHAR(40))")
mydb.close()

2. DROP
DROP is used to delete a whole database or just a table.

EG-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

sql = "DROP TABLE test_table"

mycursor.execute(sql)

3.ALTER
The ALTER statement changes the structure or schema of an already created database table by adding or removing one or more columns.

EG-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
query = "ALTER TABLE test_table \
        ADD stream VARCHAR(100) DEFAULT 'CS'"
mycursor.execute(query)

4.TRUNCATE
In SQL, the TRUNCATE statement is used to quickly remove all rows from a table, effectively resetting it, but it does not generate individual row delete logs, making it faster than the DELETE statement for large tables. 

Eg-
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

db= MySQLdb.connect("hostname", "username", "password", "database_name")

cursor= db.cursor()

cursor.execute("TRUNCATE TABLE table_name")

db.close()

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans.
DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulating data within a database.

1. INSERT
The INSERT statement is used to add new records (rows) into a table.

Eg-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test1.test_table values(34 , 'vaishnavi',34,67.7,'kumar')")
mydb.commit()
mydb.close()


2. UPDATE
The UPDATE statement is used to modify existing records in a table.
def update_data(collection, query, new_values):
    collection.update_many(query, {'$set': new_values})

3. DELETE
The DELETE statement is used to remove records from a table.
def delete_data(collection, query):
    collection.delete_many(query)

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

Ans.
DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.

Eg-
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test1.test_table")
mycursor.execute("select c1,c5 from test1.test_table")

for i in mycursor.fetchall():
     print(i)

Q5. Explain Primary Key and Foreign Key.

Ans.
1. Primary Key (PK):
A Primary Key is a column or a set of columns in a database table that uniquely identifies each row in the table.
It ensures that every record in the table is distinct and can be uniquely identified.

2. Foreign Key (FK):
A Foreign Key is a column or a set of columns in a table that establishes a link between the data in two related tables. It creates a referential integrity constraint, ensuring that the values in the Foreign Key column(s) of one table correspond to the values in the Primary Key column(s) of another table.
This relationship represents a "parent-child" relationship between the tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test1.test_table")
mycursor.execute("select c1,c5 from test1.test_table")

for i in mycursor.fetchall():
     print(i)

1. cursor():
The cursor() method is used to create a cursor object, which allows you to interact with the database and execute SQL queries. A cursor acts as a pointer to a specific location within the result set of a query.
It enables you to traverse through the rows and fetch data from the database.

2. execute():
The execute() method is used to execute SQL queries or database operations through the cursor object.
You pass the SQL query as a string argument to the execute() method, and it sends the query to the database for execution.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

Ans.

SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT/OFFSET (if supported)